substitutions:
  # Enables faster network connections, with last connected SSID being connected to and no full scan for SSID being undertaken
  wifi_fast_connect: "true"
  # Enable or disable the use of IPv6 networking on the device
  ipv6_enable: "false"
  # Set the timezone. Useful if itis in a location different to the HA server. Can be entered in unix Country/Area format (i.e. Australia/Sydney)
  timezone: ""
  # Set the duration between the sntp service polling ntp.org servers for an update
  time_update_interval:
    6h
    # Define logging level: NONE, ERROR, WARN, INFO, DEBUG (Default), VERBOSE, VERY_VERBOSE
  log_level: ERROR

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  fast_connect: ${wifi_fast_connect}
  min_auth_mode: WPA2

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: ${device_name}
    password: !secret wifi_password

captive_portal:

web_server:
  port: 80
  version: 3

network:
  enable_ipv6: ${ipv6_enable}

mdns:
  disabled: false

# Enable Home Assistant API
api:
  encryption:
    key: !secret encryption_key

ota:
  - platform: esphome
    password: !secret wifi_password

safe_mode:

logger:
  level: ${log_level}
  baud_rate: 0

sensor:
  - platform: uptime
    name: Uptime Sensor
    id: uptime_sensor
    entity_category: diagnostic
    internal: true

  - platform: wifi_signal
    name: WiFi Signal dB
    id: wifi_signal_db
    update_interval: 60s
    entity_category: diagnostic

  - platform: copy
    source_id: wifi_signal_db
    name: WiFi Signal Percent
    filters:
      - lambda: return min(max(2 * (x + 100.0), 0.0), 100.0);
    unit_of_measurement: "%"
    entity_category: diagnostic
    device_class: ""

text_sensor:
  - platform: wifi_info
    ip_address:
      name: IP Address
      entity_category: diagnostic
    ssid:
      name: Connected SSID
      entity_category: diagnostic
    mac_address:
      name: MAC Address
      entity_category: diagnostic

  #  Creates a sensor showing when the device was last restarted
  - platform: template
    name: Last Restart
    id: device_last_restart
    icon: mdi:clock
    entity_category: diagnostic
  #    device_class: timestamp
  - platform: version
    name: ESPHome Version

  - platform: uptime
    name: Uptime
    format:
      separator: " "
    icon: mdi:clock-start
    entity_category: diagnostic

time:
  - platform: homeassistant
    id: homeassistant_time
    # Define the timezone of the device
    timezone: ${timezone}
    # Change sync interval from default 5min to 6 hours (or as set in substitutions)
    update_interval: ${time_update_interval}
    # Publish the time the device was last restarted
    on_time_sync:
      then:
        # Update last restart time, but only once.
        - if:
            condition:
              lambda: 'return id(device_last_restart).state == "";'
            then:
              - text_sensor.template.publish:
                  id: device_last_restart
                  state: !lambda 'return id(homeassistant_time).now().strftime("%a %d %b %Y - %I:%M:%S %p");'
